<!DOCTYPE html>
<html lang="ja">
<head>
	<meta charset="utf-8">
	<title><%= @title %></title>
	<meta name="author" content="Toshiya T." />
	<link href="/ress.css" type="text/css" rel="stylesheet" />
	<link href="/style.css" type="text/css" rel="stylesheet" />
</head>
<body>

<div id="whitebase">
	<h1><%= @h1 %></h1>
  <%= yield %>
</dev>

</body>
</html>